<!DOCTYPE html>
<html ng-app ng-csp>
	<head>
	<link rel="stylesheet" type="text/css" href="css/style.css" >
	<script src="lib/jquery.js" ></script>
	<script src="lib/angular.min.js" ></script>
	<script src="js/jqController.js" ></script>
	<script src="js/ngController.js" ></script>
	</head>
	<body ng-controller="MainController" >
		<table width="100%">
			<tr>
				<td width="22px" ><img src="assets/cross.png" id="cross"></td>
				<td class="dragRegion"></td>
				<td width="31px">
					<img src="assets/unlock.png" id="lock" ng-click="save()" >
				</td>
				<td width="31px">
					<img src="assets/arrow.png" id="arrow" >
				</td>
				<td width="31px">
					<img src="assets/plus.png" id="plus" >
				</td>
			</tr>
		</table>
		<textarea autofocus="autofocus" ng-model="note">
		</textarea>		
	</body>
</html>